<%- include('partials/header') %>

<!--================About Area Start =================-->
<section class="bg-gray section-padding magic-ball magic-ball-about">
        <div class="container">
          <div class="row">
            
            <div >
              <h2>Your ticket has been booked successfully!! <br> ticket-id: <%=train.id%> <br> Cart.no: <%=train.cart%><br> Seat.no: <%=train.seat%></h2>
              <a class="button" href="/">Home</a>
            </div>
          </div>
        </div>
      </section>
      <!--================About Area End =================-->
    